
        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
          <div class="sidebar-module sidebar-module-inset">
            <h4>关于</h4>
            <p>读书跑步写代码</p>
          </div>
          <div class="sidebar-module">
            <h4>归档</h4>
            <ol class="list-unstyled">
              <li><a href="#">2015年9月</a></li>
            </ol>
          </div>
          <div class="sidebar-module">
            <h4>在别处</h4>
            <ol class="list-unstyled">
              <li><a href="https://github.com/reniaL">GitHub</a></li>
              <li><a href="https://twitter.com/reniaL">Twitter</a></li>
              <li><a href="http://fanfou.com/reniaL">饭否</a></li>
              <li><a href="http://www.douban.com/people/reniaL/">豆瓣</a></li>
            </ol>
          </div>
        </div><!-- /.blog-sidebar -->