
        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
          <div class="sidebar-module sidebar-module-inset">
            <h4>关于</h4>
            <p>读书 跑步 写代码</p>
          </div>
          <div class="sidebar-module">
            <h4>分类</h4>
            <ol class="list-unstyled">
              <li><a href="/blog/tags.html#life">日子</a></li>
              <li><a href="/blog/tags.html#book">书话</a></li>
              <li><a href="/blog/tags.html#movie">影志</a></li>
              <li><a href="/blog/tags.html#music">乐事</a></li>
              <li><a href="/blog/tags.html#code">代码</a></li>
              <li><a href="/blog/tags.html#play">乱弹</a></li>
            </ol>
          </div>
          <div class="sidebar-module">
            <h4>在别处</h4>
            <ol class="list-unstyled">
              <li><a href="https://github.com/reniaL">GitHub</a></li>
              <li><a href="https://twitter.com/reniaL">Twitter</a></li>
              <li><a href="http://www.douban.com/people/reniaL/">豆瓣</a></li>
            </ol>
          </div>
        </div><!-- /.blog-sidebar -->