---
layout: default
---

    {% for post in paginator.posts %}
        <div class="blog-post">
            <h2 class="blog-post-title"><a href="{{ post.url }}">{{ post.title }}</a></h2>
            <p class="blog-post-meta">{{ post.date | date: "%Y-%m-%d"}}</p>
            {{ post.content }}
            <p>
                {% for t in post.tags %}
                    <code>{{ t }}</code>
                {% endfor %}
            </p>
        </div>
    {% endfor %}
    
    <nav>
        <ul class="pager">
            
            <li><a{% if paginator.previous_page %} href="{{ paginator.previous_page_path }}"{% endif %}>上一页</a></li>
            <li><a>{{ paginator.page }}</a></li>
            <li><a{% if paginator.next_page %} href="{{ paginator.next_page_path }}"{% endif %}>下一页</a></li>
        </ul>
    </nav>
