---
layout: default
---

<div id="life">
    <h2>日子</h2>
    <p>
        <ul>
            {% for p in site.tags.life %}
                <li>{{ p.date | date: "%Y-%m-%d" }} <a href="{{ p.url }}">{{ p.title }}</a></li>
            {% endfor %}
        </ul>
    </p>
</div>

<div id="book">
    <h2>书话</h2>
    <p>
        <ul>
            {% for p in site.tags.book %}
                <li>{{ p.date | date: "%Y-%m-%d" }} <a href="{{ p.url }}">{{ p.title }}</a></li>
            {% endfor %}
        </ul>
    </p>
</div>

<div id="movie">
    <h2>影志</h2>
    <p>
        <ul>
            {% for p in site.tags.movie %}
                <li>{{ p.date | date: "%Y-%m-%d" }} <a href="{{ p.url }}">{{ p.title }}</a></li>
            {% endfor %}
        </ul>
    </p>
</div>

<div id="music">
    <h2>乐事</h2>
    <p>
        <ul>
            {% for p in site.tags.music %}
                <li>{{ p.date | date: "%Y-%m-%d" }} <a href="{{ p.url }}">{{ p.title }}</a></li>
            {% endfor %}
        </ul>
    </p>
</div>

<div id="code">
    <h2>代码</h2>
    <p>
        <ul>
            {% for p in site.tags.code %}
                <li>{{ p.date | date: "%Y-%m-%d" }} <a href="{{ p.url }}">{{ p.title }}</a></li>
            {% endfor %}
        </ul>
    </p>
</div>

<div id="play">
    <h2>乱弹</h2>
    <p>
        <ul>
            {% for p in site.tags.play %}
                <li>{{ p.date | date: "%Y-%m-%d" }} <a href="{{ p.url }}">{{ p.title }}</a></li>
            {% endfor %}
        </ul>
    </p>
</div>