<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="container">
      <div class="row">
        <div class="blog-title"></div>
        <div class="col-sm-8 blog-main">
            <div class="post">
            
              <header class="post-header">
                <h1 class="post-title">{{ page.title }}</h1>
                <p class="blog-post-meta">{{ page.date | date: "%Y-%m-%d" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
              </header>
            
              <article class="post-content">
                {{ content }}
              </article>
              <hr>
                <p>
                    {% for t in page.tags %}
                        <code>{{ t }}</code>
                    {% endfor %}
                </p>
            
            </div>
        </div><!-- /.blog-main -->
        {% include sidebar.html %}
      </div>
    </div><!-- /.container -->

    {% include footer.html %}

  </body>

</html>
